# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Data and Models
data/external/*
data/interim/*
data/processed/*
data/raw/*
!data/external/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
models/*
!models/.gitkeep

# Logs
logs/*.log
!logs/.gitkeep

# Environments
.env
.venv
venv/
ENV/

# OS
.DS_Store
Thumbs.db
